# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Editor folders and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vite specific
coverage/
tmp/

# Project specific generated data (Optional - uncomment if you want to fetch fresh every time)
# public/feeds-data.json
# public/shortcuts-config.json
